<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juyikeji.caipiao">

    <!-- 调用相机，相册的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 网络请求权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 短信验证码 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".Guide" />
        <activity android:name=".activity.MyWallet" />
        <activity android:name=".activity.Myprofile" />
        <activity android:name=".activity.LotteryShop"/>
        <activity android:name=".activity.OneLotteryBet" />
        <activity android:name=".activity.OneDaletou" />
        <activity android:name=".activity.OneLotteryBetPay" />
        <activity android:name=".activity.OneLotteryBetPayFor" />
        <activity android:name=".activity.OneSevenColor" />
        <activity android:name=".activity.OneSevenHappy" />
        <activity android:name=".activity.OneTwentyTwoforFive" />
        <activity android:name=".activity.ChangePassword" />
        <activity android:name=".activity.PhoneAttestation" />
        <activity android:name=".activity.LoginFindPwdActivity" />
        <activity android:name=".activity.LoginZcActivity" />
        <activity android:name=".activity.PhoneAttestation2" />
        <activity android:name=".activity.XgPhone" />
        <activity android:name=".activity.OneYongTanDuoGuan"/>
        <activity android:name=".directly.OneDirectly" />
        <activity android:name=".threed.OneThreeD" />
        <activity android:name=".fastthree.OneFastThree"/>
        <activity android:name=".arrangefive.OneArrangeFive"/>
        <activity android:name=".activity.OneLotteryBetPayx"/>
        <activity android:name=".activity.FindZhiFuPWD"/>
        <activity android:name=".activity.Feedback"/>

    </application>

</manifest>
